/*

-------------------------------------------------------------

HOME PAGE STYLES

*/

.top-elements {
  margin-top: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo{
  display:block;
  width:48px;
}

.logo-subtext {
  line-height: 28px;
  font-size: .875rem;
  @include breakpoint(medium) {
		display:none;
	}
}

.current-time {
  font-weight: $regular;
  color:$black;
}

.home h1 {
  margin-top: 16vh;
  color:$black;
  font-size: 4.75rem;
  font-weight: $light;
  letter-spacing: -4px;

  @include breakpoint(large) {
		font-size:3.95rem;
	}
}

.main-sub-text {
  padding:0px;
  margin:0px;
  font-weight: $bold;
  color: $red;
}

.quick-links{
  margin-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


ul.contacts{
  list-style: none;
  margin:0px;
  padding:0px;
  line-height: 24px;
}

ul.contacts li {
  display: inline;
  padding-left: 10px;
}

ul.contacts li a {
  text-decoration: none;
  color:$light-grey;
  font-weight: $light;
}

.colab{
  margin-top: 16vh;
  color:$dark-grey;
}

.client-list {
  margin-top: 2vh;
}

ul.studios{
  font-size:12px;
  letter-spacing: 0.07em;
  list-style: none;
  padding: 0px;
  margin-top:0px;
  color:$light-grey;
}

.client-list h4 {
  color: $dark-grey;
  font-size: 14px;
}

.col-6.offset-2.studios-left{
  @include breakpoint(large) {
		width:40%;
	}
}


// Define keyframes
@keyframes blink {
  0% { opacity: 1; }
  // 50% { opacity: 1; }
  100% { opacity: 0; }
}

#time{
  margin-left: 10px;
}

#time span {
animation: blink 1s infinite linear;
}

// BREAK POINTS
