/*
Project Title: Portfolio
Author: Nick Ano
*/
/* Helpers */
/*

-------------------------------------------------------------

VARIABLES

*/
/* Base */
/*

-------------------------------------------------------------

TYPOGRAPHY

*/
body {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #757575;
  line-height: 2;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

/*

-------------------------------------------------------------

GLOBAL

*/
html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
}

body.body-modal-open {
  overflow: hidden;
}

#viewport {
  overflow: hidden;
  width: 100%;
}

.container {
  margin: auto;
  width: 1440px;
  position: relative;
}

@media (max-width: 1150px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

/* general */
img {
  max-width: 100%;
}

.borderbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.position-center {
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}

@media (max-width: 960px) {
  .hide-ipad {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

/* Layout */
/*

-------------------------------------------------------------

HEADER

*/
header {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 0px 0px 0px;
}

/*

-------------------------------------------------------------

NAVIGATION

*/
nav {
  font-size: 1em;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  margin: 0px 15px 0px 0px;
  display: inline;
}

.row {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
}

.col-* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-1 {
  width: 4.16667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-2 {
  width: 8.33333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-3 {
  width: 12.5%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-4 {
  width: 16.66667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-5 {
  width: 20.83333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-6 {
  width: 25%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-7 {
  width: 29.16667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-8 {
  width: 33.33333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-9 {
  width: 37.5%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-10 {
  width: 41.66667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-11 {
  width: 45.83333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-12 {
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-13 {
  width: 54.16667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-14 {
  width: 58.33333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-15 {
  width: 62.5%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-16 {
  width: 66.66667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-17 {
  width: 70.83333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-18 {
  width: 75%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-19 {
  width: 79.16667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-20 {
  width: 83.33333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-21 {
  width: 87.5%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-22 {
  width: 91.66667%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-23 {
  width: 95.83333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.col-24 {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}

.offset-2 {
  margin-left: 8.33333%;
}

.offset-right-2 {
  margin-right: 8.33333%;
}

.offset-right-6 {
  margin-right: 25%;
}

/* 

-------------------------------------------------------------

FOOTER

*/
/* Sections */
/*

-------------------------------------------------------------

HOME PAGE STYLES

*/
.top-elements {
  margin-top: 12vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.logo {
  display: block;
  width: 48px;
}

.logo-subtext {
  line-height: 28px;
  font-size: .875rem;
}

@media (max-width: 960px) {
  .logo-subtext {
    display: none;
  }
}

.current-time {
  font-weight: 300;
  color: #000000;
}

.home h1 {
  margin-top: 16vh;
  color: #000000;
  font-size: 4.75rem;
  font-weight: 100;
  letter-spacing: -4px;
}

@media (max-width: 1150px) {
  .home h1 {
    font-size: 3.95rem;
  }
}

.main-sub-text {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  color: #eb3c3c;
}

.quick-links {
  margin-top: 0vh;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

ul.contacts {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 24px;
}

ul.contacts li {
  display: inline;
  padding-left: 10px;
}

ul.contacts li a {
  text-decoration: none;
  color: #c0c0c0;
  font-weight: 100;
}

.colab {
  margin-top: 16vh;
  color: #404042;
}

.client-list {
  margin-top: 2vh;
}

ul.studios {
  font-size: 12px;
  letter-spacing: 0.07em;
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  color: #c0c0c0;
}

.client-list h4 {
  color: #404042;
  font-size: 14px;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#time {
  margin-left: 10px;
}

#time span {
  -moz-animation: blink 1s infinite linear;
  animation: blink 1s infinite linear;
}
