/*
Project Title: Portfolio
Author: Nick Ano
*/
/* Helpers */
/*

-------------------------------------------------------------

VARIABLES

*/
/* Base */
/* 

-------------------------------------------------------------

TYPOGRAPHY

*/
body {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #757575;
  line-height: 2; }

/*

-------------------------------------------------------------

GLOBAL

*/
html, body {
  height: 100%; }

body {
  padding: 0px;
  margin: 0px; }

body.body-modal-open {
  overflow: hidden; }

#viewport {
  overflow: hidden;
  width: 100%; }

.container {
  margin: auto;
  width: 1440px;
  position: relative; }
  @media (max-width: 1150px) {
    .container {
      width: 900px; } }
  @media (max-width: 960px) {
    .container {
      width: 700px; } }
  @media (max-width: 767px) {
    .container {
      width: 100%; } }

/* general */
img {
  max-width: 100%; }

.borderbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.position-center {
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto; }

@media (max-width: 960px) {
  .hide-ipad {
    display: none; } }

@media (max-width: 767px) {
  .hide-mobile {
    display: none; } }

/* Layout */
/*

-------------------------------------------------------------

HEADER

*/
header {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  padding: 40px 40px 0px 40px; }

/*

-------------------------------------------------------------

NAVIGATION

*/
nav {
  font-size: 1em; }

nav ul {
  padding: 0px;
  margin: 0px; }

nav ul li {
  margin: 0px 15px 0px 0px;
  display: inline; }

/* 

-------------------------------------------------------------

FOOTER

*/
/* Sections */
/* 

-------------------------------------------------------------

HOME PAGE STYLES

*/
